<div class="header__container container mw-100">
    <div class="row justify-content-end">
        <div class="col-12 col-sm-8 col-lg-9 col-xl-10 p-0 mt-sm-2 px-sm-2 header__content">
            <header class="navbar d-block sticky-top px-3 py-1 mb-2">
                <div class="row align-items-center justify-content-between">
                   <div class="col-auto d-sm-none">
                      <button type="button" (click)="showSideBar()"
                         class="header__button-sidebar d-sm-none header__button-sidebar--collapsed"><i
                            class="app__icon fa-solid fa-bars" aria-hidden="true"></i></button>
                   </div>
                   <div class="col col-lg-6 p-0 ps-sm-2">
                      <ul class="nav d-none d-sm-flex">
                         <li class="nav-item"><a href="#"
                               target="_blank" class="nav-link py-1 px-0">How it works</a></li>
                      </ul>
                   </div>
                   <div class="col-auto">
                      <div class="navbar-nav">
                         <div class="nav-item navbar-dropdown dropdown-user dropdown">
                            <button (click)="openDropDown()" aria-expanded="false" aria-label="User menu navigation" data-bs-toggle="dropdown"
                               class="nav-link dropdown-toggle hide-arrow">
                               <div class="avatar cursor-pointer expand-menu"><img alt="user avatar"
                                     referrerpolicy="no-referrer"
                                     src="https://angular-example-app.netlify.app/assets/images/user.png"
                                     class="w-px-40 h-auto main__avatar-circle rounded-circle"></div>

                            </button>
                            <ul class="dropdown-menu dropdown-menu-end toggle-header-menu">
                               <li>
                                  <div class="dropdown-item dropdown__item--no-hover">
                                     <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-3">
                                           <div class="avatar"><img alt="user avatar" referrerpolicy="no-referrer"
                                                 src="https://angular-example-app.netlify.app/assets/images/user.png"
                                                 class="w-px-40 h-auto rounded-circle"></div>

                                        </div>
                                        <div class="flex-grow-1">
                                           <span class="d-block">{{userData.firstname}}</span>
                                        </div>
                                     </div>
                                  </div>
                               </li>
                               <li>
                                  <div class="dropdown-divider"></div>
                               </li>
                               
                               <li>
                                  <div (click)="logoutClick()" class="dropdown-item d-flex align-items-center cursor-pointer">
                                     <i class="app__icon fa-solid fa-right-from-bracket me-2" aria-hidden="true"></i>
                                     <button class="p-0">
                                        Log out
                                     </button>
                                  </div>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </div>
                </div>
             </header>
        </div>
    </div>
</div>