<nav id="sidebar" class="col-9 col-sm-4 col-lg-3 col-xl-2 d-md-block sidebar__container collapse">
    <div class="pt-sm-3 pt-lg-2">
       <ul class="nav flex-column">
          <li class="nav-item sidebar__logo-container text-center"><img alt="Home" src="https://angular-example-app.netlify.app/assets/icons/icon-128x128.png" class="ng-star-inserted"></li>
          <li class="nav-item mt-2 mt-sm-4">
             <a class="nav-link active" >
                <i class="app__icon fa-solid fa-house-chimney me-2" aria-hidden="true"></i>Home
             </a>
          </li>
       </ul>
    </div>
 </nav>